<div>
    <a href="/views/movies.hbs"> Go back</a>
    <img src="{{this.image}}" alt="{{this.title}}" width="250px">
    <h1>{{this.director}}</h1>
    <h1>{{this.stars}}</h1>
    <h1>{{this.description}}</h1>
    <h1>{{this.showTimes}}</h1>
</div>